<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-primary">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" routerLink="" style="position: relative; top: .3rem;color: white;"><h1>LOGO</h1></a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        (click)="basicNavbar.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        mdbCollapse
        #basicNavbar="mdbCollapse"
      >
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown position-static">
            <a
              (click)="toggleMenu()"
              class="nav-link dropdown-toggle"
              
              id="navbarDropdown"
              role="button"
              [attr.aria-expanded]="menuExpanded"
            >
              Mega menu
            </a>
            <!-- Dropdown menu -->
            <div
              *ngIf="menuExpanded"
              class="dropdown-menu w-100 mt-0"
              aria-labelledby="navbarDropdown"
              style="border-top-left-radius: 0; border-top-right-radius: 0; left: 0"
            >
              <div class="container">
                <div class="row my-4">
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="list-group list-group-flush">
                      <p class="mb-0 list-group-item text-uppercase font-weight-bold">
                        Lorem ipsum
                      </p>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Dolor sit</a>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Amet consectetur</a>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Adipisicing elit</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="list-group list-group-flush">
                      <p class="mb-0 list-group-item text-uppercase font-weight-bold">
                        Explicabo voluptas
                      </p>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Perspiciatis quo</a>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Laudantium maiores</a>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Provident dolor</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                    <div class="list-group list-group-flush">
                      <p class="mb-0 list-group-item text-uppercase font-weight-bold">
                        Iste quaerato
                      </p>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Cras justo odio</a>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Est iure</a>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Praesentium</a>
                      <a href="" class="list-group-item list-group-item-action"><i
                          class="fas fa-caret-right pe-2"></i>Laboriosam</a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="list-group list-group-flush">
                      <p class="mb-0 list-group-item text-uppercase font-weight-bold">
                        Cras justo odio
                      </p>
                      <a href="" class="list-group-item list-group-item-action">Saepe</a>
                      <a href="" class="list-group-item list-group-item-action">Vel alias</a>
                      <a href="" class="list-group-item list-group-item-action">Sunt doloribus</a>
                      <a href="" class="list-group-item list-group-item-action">Cum dolores</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- Left links -->
  
        <!-- Search form -->
        <form class="d-flex input-group w-auto">
          <input
            type="search"
            class="form-control"
            placeholder="Type query"
            aria-label="Search"
          />
          <button class="btn btn-outline-light" type="button">
            Search
          </button>
        </form>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->